body {
  background-color: white;
  min-height: 98vh;
  display: flex;
  flex-direction: column;
}

/* start header css */
header {
  display: flex;
  margin-top: 2%;
  height: 30px;
  flex-direction: row;
  justify-content: space-around;
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  text-align: center;
}

header nav li {
  list-style: none;
  padding: 0% 5%;
}

header nav li a {
  text-decoration: none;
  font-size: 17px;
  color: rgb(109, 109, 109);
  font-weight: bold;
  cursor: pointer;
  font-family: sans-serif;
}

.active {
  border-bottom: 2px solid rgb(82, 82, 82);
}

.circle-logo {
  border: 2px solid grey;
  height: 80px;
  display: flex;
  margin-top: -20px;
  width: 80px;
  border-radius: 360px;
  flex-direction: column;
  align-items: center;
  align-content: center;
  font-size: 19px;
  font-weight: bold;
  box-shadow: 2px 2px 6px grey;
  text-align: center;
}

.circle-logo span {
  margin-top: 30px;
}
